<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sqlite.Mapper.StatusMapper">

    <select id="selectAllBufferStatus" resultType="com.example.sqlite.model.BufferStatus">
        SELECT bootstrapServersConfig as jsonbtServersConfig
            ,autoCommitConfig
            ,groupIdConfig
            ,buffTopicName as jsonTopicName
            ,buffMinBatchSize
            ,buffIsHashListInclude
            ,buffTimeoutMillis
            ,buffPollIntervalMillis
        FROM ConsumerStatus
        WHERE consumerType=0
    </select>

    <insert id="insertBufferStatus">
        INSERT INTO ConsumerStatus (bootstrapServersConfig, autoCommitConfig, groupIdConfig, buffTopicName, buffMinBatchSize, buffIsHashListInclude, buffTimeoutMillis, buffPollIntervalMillis, consumerType)
        VALUES (#{jsonbtServersConfig}, #{autoCommitConfig}, #{groupIdConfig}, #{jsonTopicName}, #{buffMinBatchSize}, #{buffIsHashListInclude}, #{buffTimeoutMillis}, #{buffPollIntervalMillis}, 0)
    </insert>

    <select id="selectAllImmediateStatus" resultType="com.example.sqlite.model.ImmediateStatus">
        SELECT bootstrapServersConfig as jsonbtServersConfig
             ,autoCommitConfig
             ,groupIdConfig
             ,immediateTopicName as jsonTopicName
             ,immediateIsHashListInclude
             ,immediateTimeoutMillis
             ,immediatePollIntervalMillis
        FROM ConsumerStatus
        WHERE consumerType=1
    </select>

    <insert id="insertImmediateStatus">
        INSERT INTO ConsumerStatus (bootstrapServersConfig, autoCommitConfig, groupIdConfig, immediateTopicName, immediateIsHashListInclude, immediateTimeoutMillis, immediatePollIntervalMillis, consumerType)
        VALUES (#{jsonbtServersConfig}, #{autoCommitConfig}, #{groupIdConfig}, #{jsonTopicName}, #{immediateIsHashListInclude}, #{immediateTimeoutMillis}, #{immediatePollIntervalMillis},1)
    </insert>
</mapper>